@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #212426;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}

.logo {
    font-size: 2.5rem;
    font-family: Roboto Slab, sans-serif;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #fbf5b75e, #aa761c36);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.search {
    background: #1f2224;
    width: 800px;
    height: 70px;
    gap: 20px;
    box-shadow: -.7px -.5px .1px rgba(255, 255, 255, 0.096), 2px 3px .9px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.search input {
    background: transparent;
    /* height: 100%; */
    font-size: 1rem;
    flex-grow: 1;
    color: #BF953F;
    font-family: Raleway , sans-serif;
}

.search i {
    color: #BF953F;
    font-size: 1.8rem;
}

.mv__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
    width: 100%;
}

.movies {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.poster {
    height: 446px;
    width: 300px;
    position: relative;
    transition: all .3s ease;
}

.poster img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: display 2s;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .2s ease;
}

.poster .img__2 {
    opacity: 0;
    z-index: 1;
}

.poster .img__1 {
    z-index: 2;
}

.poster:hover {
    transform: scale(1.05);
}

.poster:hover .img__2 {
    opacity: 1;
}

.poster:hover .img__1 {
    opacity: 0;
}

.poster .content {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    padding: 10px;
    font-family: Raleway;
    font-size: 1.2rem;
    background-color: #282b2ec9;
    color: white;
    border-radius: 0 0 10px 10px;
    transition: all .7s ease;
}

.poster:hover .content {
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.poster .content p:nth-of-type(2) {
    font-weight: 700;
}

.cp {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BF953F;
    font-size: 2rem;
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

@media screen and (max-width: 1040px) {
    .search {
        width: 600px;
    }
}

@media screen and (max-width: 980px) {
    .poster {
        width: 250px;
        height: 390px;
    }
}

@media  screen and (max-width: 1357px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media  screen and (max-width: 830px) {
    .movies {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 670px) {
    .search {
        width: 350px;
    }
}

@media screen and (max-width: 550px) {
    .search {
        width: 320px;
    }

    .cp {
        font-size: 1.2rem;
    }

    .movies {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .poster {
     height: 250px;
     width: 180px;   
    }

    .poster .content {
        font-size: .8rem;
    }
}


@media screen and (max-width: 400px) {
    .search {
        width: 320px;
    }

    .cp {
        font-size: 1.2rem;
    }

    .movies {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .poster {
     height: 200px;
     width: 150px;   
    }

    .poster .content {
        font-size: .8rem;
    }
}